In [1]:
#Data frame-2 dimension data in rows & column
#stntax-pandas.DaataFrame(data,index,column,dtype,copy)

In [2]:
#data-ndarray,lists,maps,DF,constants,dilt
#dtypes-data types
#index-raw label
#column-column label
#copy-true or false, ddefault is false

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame()

In [5]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [11]:
x = [9,8,7,6]
df=pd.DataFrame(x)
print(df)

   0
0  9
1  8
2  7
3  6

In [13]:
x=[['chandan','asish','mayur','charles'],[80,81,82,83]]
df=pd.DataFrame(x)
print(df)

         0      1      2        3
0  chandan  asish  mayur  charles
1       80     81     82       83

In [14]:
x=[['chandan',80],['mayur',82]['charles',81]]
df=pd.DataFrame(x)
print(df)

TypeError: list indices must be integers or slices, not tuple

In [19]:
x = {'Name':['ch','as','cr','ma'],'score':[80,81,81,82]}
df = pd.DataFrame(x,index=['Rank1','Rank2','Rank3','Rank4'])
print(df)

      Name  score
Rank1   ch     80
Rank2   as     81
Rank3   cr     81
Rank4   ma     82

In [21]:
x=[{'a':1,'c':23},{'a':6,'b':9,'c':11}]
df=pd.DataFrame(x)
print(df)

   a    b   c
0  1  NaN  23
1  6  9.0  11

In [26]:
x=[{'helmet':5000,'bag':2000},{'helmet':5000,'tees':5000,'bag':2000}]
df=pd.DataFrame(x,index=['Priority1','Priority2'])
print(df)

            bag  helmet    tees
Priority1  2000    5000     NaN
Priority2  2000    5000  5000.0

In [49]:
d={'one':pd.Series([9,10,11],index=['a','b','c']),'two':pd.Series([2,4,6,8],index=['a','b','c','d']),'three':pd.Series([3,5,7,9],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print (df)

    one  two  three
a   9.0    2      3
b  10.0    4      5
c  11.0    6      7
d   NaN    8      9

In [51]:
df['four']=df['one']+df['three']
print (df)

    one  two  three  four
a   9.0    2      3  12.0
b  10.0    4      5  15.0
c  11.0    6      7  18.0
d   NaN    8      9   NaN

In [61]:
del df['two']
print (df)

    one  three  four
a   9.0      3  12.0
b  10.0      5  15.0
c  11.0      7  18.0
d   NaN      9   NaN

In [66]:
df['two']=pd.Series([2,4,6,8],index=['a','b','c','d'])
print (df)

    one  three  four  two
a   9.0      3  12.0    2
b  10.0      5  15.0    4
c  11.0      7  18.0    6
d   NaN      9   NaN    8

In [69]:
df2=pd.Series([1,2,3,5],index=['a','b','c','d'])
df=df.append(df2, ignore_index=True)
df

    one  three  four  two    a    b    c    d
0   9.0    3.0  12.0  2.0  NaN  NaN  NaN  NaN
1  10.0    5.0  15.0  4.0  NaN  NaN  NaN  NaN
2  11.0    7.0  18.0  6.0  NaN  NaN  NaN  NaN
3   NaN    9.0   NaN  8.0  NaN  NaN  NaN  NaN
4   NaN    NaN   NaN  NaN  1.0  2.0  3.0  5.0
5   NaN    NaN   NaN  NaN  1.0  2.0  3.0  5.0

In [71]:
df2=pd.Series([1,2,3,5],index=['one','three','four','two'])
df=df.append(df2, ignore_index=True)
df

    one  three  four  two    a    b    c    d    1    2    3    4
0   9.0    3.0  12.0  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  10.0    5.0  15.0  4.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  11.0    7.0  18.0  6.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   NaN    9.0   NaN  8.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN    NaN   NaN  NaN  1.0  2.0  3.0  5.0  NaN  NaN  NaN  NaN
5   NaN    NaN   NaN  NaN  1.0  2.0  3.0  5.0  NaN  NaN  NaN  NaN
6   NaN    NaN   NaN  NaN  NaN  NaN  NaN  NaN  1.0  5.0  2.0  3.0
7   1.0    2.0   3.0  5.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]})
df['States']="CA NV AZ".split()
df.set_index('States',inplace=True)
print(df)

          A    B  C
States
CA      1.0  5.0  1
NV      2.0  NaN  2
AZ      NaN  NaN  3

In [15]:
print("\nDropping any rows with a NaN value\n",'-'*35, sep='')

Dropping any rows with a NaN value
-----------------------------------

In [17]:
print("\nDropping any rows with a NaN value\n",'-'*35, sep='')
print(df.dropna(axis=0))

Dropping any rows with a NaN value
-----------------------------------
          A    B  C
States
CA      1.0  5.0  1

In [18]:
print("\nDropping any column with a NaN value\n",'-'*35, sep='')
print(df.dropna(axis=1))

Dropping any column with a NaN value
-----------------------------------
        C
States
CA      1
NV      2
AZ      3

In [24]:
print("\nFilling values with a default values\n",'-'*35, sep=" ")
print(df.fillna(value='FILL VALUE'))

Filling values with a default values
 -----------------------------------
                 A           B  C
States
CA               1           5  1
NV               2  FILL VALUE  2
AZ      FILL VALUE  FILL VALUE  3

In [25]:
print ("\nFilling values with computed values (mean of column A here)\n",'-'*60, sep=' ')
print(df.fillna(value=df['A'].mean()))

Filling values with computed values (mean of column A here)
 ------------------------------------------------------------
          A    B  C
States
CA      1.0  5.0  1
NV      2.0  1.5  2
AZ      1.5  1.5  3

In [33]:
%%writefile test.txt
i am a super awesome datascientist

Overwriting test.txt

In [4]:
my_file=open('test.txt')

In [5]:
my_file.read()

'i am a super awesome datascientist'

In [7]:
my_file.close()

In [10]:
my_file=open('test.txt')
my_file.seek(7)

7

In [11]:
my_file.read()

'super awesome datascientist'

In [12]:
#'a+' will append at last
#'w+' will write 
#'r+' will rewrite